.grid-answers{

    text-align: center;
padding-bottom: 200px;
  }

  .answers{
    border: 1px solid black;
  }

  
.trash{
    color: red;
    cursor: pointer;
  }
  .download{
    color: #37517e;
    cursor: pointer;
  }