.hero-container{
display: grid;
  grid-template-columns: 1fr 0.8fr;
    align-items: center;

}
@media screen and (width <= 1100px){
  
    
 
  .hero-container{
    display: grid;
      grid-template-columns: 1fr ;
        align-items: center;
    
    
     img{
      display: none;}
    }
  
    }
.hero-text {
     
    margin-block: 24px 36px;
  }

.section-hero{
    background-color: #37517e;
    text-align: center;
color: white;
padding-block-start:   70px ;
gap: 70px;
// padding-bottom: 80px;

}
section{
  padding-bottom: 200px;

}
.mission{
  text-align: center;
  padding-top: 35px;
  color: #37517e;
.objectives{
  display: grid;
  grid-template-columns: 1fr 1fr;
    padding-left: 30px;
  

}
}


.outcomes {
  width: 450px;
  margin: auto;


p {
  border-top: 2px dashed;
  border-color: #37517e !important;
  margin:0; padding: 30px;
  counter-increment: section;
  position: relative;
}



p:nth-child(even):before {
  content: counter(section);
  right: 100%; 
  margin-right: -20px;
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #37517e;
  text-align:center;
  color: white;
}

p:nth-child(odd):before {
  content: counter(section);
  left: 100%; 
  margin-left: -20px;
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #37517e;
  text-align:center;
  color: white;
}



p:nth-child(even) {
  border-left: 2px dashed;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-right: 30px; 
  padding-right: 0;
}

p:nth-child(odd) {
  border-right: 2px dashed;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  margin-left: 30px; 
  padding-left: 0;
}

p:first-child {
  border-top: 0;
  border-top-right-radius:0;
  border-top-left-radius:0;
}

p:last-child {
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
}
}

.info{
  cursor: pointer;
  color: white;
  text-decoration: underline;
}
.howitworks{
  h2{
    text-align: center;
    color:  #37517e;

  }
  .howitworks_div{
    display: grid;
    grid-template-columns: 1fr 1fr;

.howitworks_img{
  text-align: center;
  img{
 width: 450px;}
}
li {
  margin-top: 30px;
  color:  #37517e;
  font-weight :bold
}
  }
}
.underline{
  text-decoration: underline;
}


@media screen and (width <= 950px){
  
    .mission{
  .objectives{
    display: grid;
    grid-template-columns: 1fr ;
    align-items: center;
gap: 35px;}
  
  }
    
  .howitworks_img{
    img{
  display: none};
  }
  .howitworks{
    text-align: center;
  .howitworks_div{
    display: grid;

    grid-template-columns: 1fr };}
  
    }